body {
	background-color: #232323;
	margin: 0;
	font-family:  "Quicksand", sans-serif;
}

#container {
	margin: 30px auto;
	max-width: 600px;
}

h1 {
	margin: 0;
	text-align: center;
	line-height: 1.25;
	background: orange;
	color: white;
	text-transform: uppercase;
	padding: 30px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}
.square {
	width: 30%;
	background: orange;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
	transition: background .3s;
	--webkit-transition: background .3s;
	-moz-transition: background .3s;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
	font-weight: 800; 
}

.selected {
	background: blue;
	color: white;
	background: orange;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: orange;
	letter-spacing: 1.2px;
	font-size: inherit;
	transition: all .3s;
}

button:hover {
	color: white;
	background: orange;
}

button:focus {
	display: none;
}